.letterFx {
  position: relative;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 1em;
  background-color: var(--brand-on-background-strong);
  margin-left: 4px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
} 